.MoreButton {
  justify-content: center;
  align-items: center;
  display: block;
  width: 250px;
  height: 55px;
  border-radius: 11px;
  border: none;
  margin: 50px auto 50px;
  transition: 350ms;
  color: #d1d1d1;
  background: #002d67d9;
}

.MoreButton:hover {
  scale: 1.1;
  transition: 350ms;
  color: #ffffff;
  background: #11478dd9;
}
