.MoreButton {
  justify-content: center;
  align-items: center;
  display: block;
  width: 250px;
  height: 55px;
  border-radius: 11px;
  border: none;
  margin: 50px auto 50px;
  color: #d1d1d1;
  transition: 350ms;
  background-color: #0056a7f2;
}

.MoreButton:hover {
  scale: 1.1;
  transition: 250ms;
  color: #ffffffe3;
  background-color: #0067c6e3;
}
