.SearchBar {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 110px;
  margin-bottom: 20px;
  border: none;
  background-color: #001b3fd9;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 9;
}

.SearchBarForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  width: 500px;
  background-color: #000000c4;
  border-radius: 1em;
}

.SearchBarButton {
  display: flex;
  width: 100px;
  height: 25px;
  padding: 20px;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #b2b2b2;
  transition: 350ms;
  background-color: #002d67d9;
}

.SearchBarButton:hover {
  scale: 1.1;
  transition: 350ms;
  color: #ffffffe3;
  background-color: #11478dd9;
}

.SearchBarInput {
  display: block;
  width: 270px;
  height: 40px;
  color: #b2b2b2;
  font-size: 22px;
  font-weight: 200;
  border: none;
  border-radius: 11px;
  padding: 0px 15px;
  background-color: #002d67d9;
}
